<div id="navbar" class="navbar">
    
    <div class="navbar-header" style="font-size: 20px;">Eshelby Solution App</div>
    <a href="/" class="menucard col-12" onclick="changeStyle(this)" style="text-decoration: none;">

        <p>Home</p>

    </a>
    
    <a href="/learnproblem" class="menucard col-12" onclick="changeStyle(this)"  style="text-decoration: none;">
        <p>Eshelby's Problem</p>
    </a>

    <a href="/learnsoftware" class="menucard col-12" onclick="changeStyle(this)"  style="text-decoration: none;">
        <p>User Guide</p>
    </a>

    <a href="/type" onclick="changeStyle(this)" class="menucard col-12"  style="text-decoration: none;">
        <p>Solve Eshelby Problem</p>
    </a>
    
    <a href="/settings" onclick="changeStyle(this)" class="menucard col-12"  style="text-decoration: none;">
        <p>Settings</p>
        </a>
</div>