<div id="navbar" class="navbar">
    <div class="navbar-header">Eshelby Solution App</div>
    <a href="/" class="col-12"  style="text-decoration: none;">
    <div class="menucard ">
        <p>Home</p>
    </div>
    </a>
    <a href="/learnsoftware" class="col-12"  style="text-decoration: none;">
    <div class=" menucard ">
        <p>User Guide</p>
    </div>
    </a>
    <a href="/type" class="col-12"  style="text-decoration: none;">
    <div class="menucard" >
        <p>Solve Eshelby Problem</p>
    </div>
    </a>
    <a href="/settings" class="col-12"  style="text-decoration: none;">
        <div class="menucard" >
            <p>Settings</p>
        </div>
        </a>

</div>