<%- include('./layouts/boilerplate') %>


<div class="startpage">

<h2>Welcome To Eshelby Solution App, User!</h2>

<div class="startpageelements">
    <div class="card" >
        <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Learn About Eshelby Problem</h5>
              <p class="card-text">
                Gain a clear understanding of the Eshelby inclusion problem, explore the mathematical concepts and
                theoretical underpinnings and equip yourself with a clear foundation!
              </p>
              <a href="#" class="btn btn-dark">Learn Now!</a>
    </div>

    </div>
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Learn how to use this software effectively!</h5>
                  <p class="card-text">
                    Access comprehensive tutorials and helpful resources to navigate the software's functionalities and 
                    maximize its potential
                  </p>
                  <a href="" class="btn btn-dark">Learn Now!</a>
            </div>
    </div>
    
    <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Learn how to use this software effectively!</h5>
              <p class="card-text">
                Input your specific problem parameters and utilize the solver's advanced capabilities to obtain accurate and 
                efficient solutions
              </p>
              <a href="/type" class="btn btn-dark">Solve!</a>
        </div>
    </div>
    
</div>

</div>