<%- include('./layouts/boilerplate') %>

<div class="typePage">
<h3>Please Select the type of problem you want to Solve</h3>
<div class="typeelements">
    <a href="/isohomogen"><button type="button" class="btn btn-dark">Isotropic Homogenous</button></a>

    <a href="/isohetergen"><button type="button" class="btn btn-dark">Isotropic Hetergenous</button></a>
    
    <a href="/anisohomogen"><button type="button" class="btn btn-dark">Anisotropic Homogenous</button></a>
    
    <a href="/anisoheterogen"><button type="button" class="btn btn-dark">Anisotropic Hetergenous</button></a>
</div>

<h4>
    Not sure which one to use?
</h4>
<p>
    Dont worry, you can click <a>here</a> to learn more about problem types! 
</p>
</div>
