<%- layout('./layouts/boilerplate') %>

<h1>Results</h1>
<% if (output) { %>
    <h4>Processed Data</h4>
    <p id="dataDisplay"><%= output %></p>
    <button id="plotButton">plot</button>
    <script>
        // Function to send request to trigger plot
        function triggerPythonFunction() {
            fetch('http://localhost:3000/dummy')
                .then(response => response.text())
                .then(message => {
                    console.log(message);
                    // Display a message or perform other actions if needed
                })
                .catch(error => console.error('Error:', error));
        }

        // Add click event listener to the button
        document.getElementById('plotButton').addEventListener('click', function() {
            triggerPythonFunction();
        });
    </script>

    <button id="saveButton">Save Data</button>

    <script>
        document.getElementById('saveButton').addEventListener('click', () => {
          const dataToSave = document.getElementById('dataDisplay').textContent.trim();
          downloadData(dataToSave);
        });
    
        function downloadData(data) {
          const blob = new Blob([data], { type: 'text/plain' });
          const url = URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = 'savedData.txt';
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
          URL.revokeObjectURL(url);
        }
      </script>
<% } else { %>
    <p>HELLO BROO</p>
    <% }%>


