<%- layout('./layouts/boilerplate') %>

<h3>Results</h3>
<% if (output) { %>
    <form action="\dummy" method="POST" id="plotForm">
    <div >
        <pre id="dataDisplay" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 16px;"><%= output %></pre>
        <div style="display: flex; flex-direction: column; gap: 5px;" class="col-8">
            <div style="display: flex; gap: 1%;">
                <button id="plotButton" class="btn btn-outline-light" type="submit">plot</button>
                <select name="plot_type" class="form-select" aria-label="plot_label" style="color: white; background-color: #004f8b;">
                    <option value="11" selected>sigma11</option>
                    <option value="22">sigma22</option>
                    <option value="33" >sigma33</option>
                    <option value="12" >sigma12</option>
                    <option value="13">sigma13</option>
                    <option value="23" >sigma33</option>
                </select>
               </div>
            <button id="saveButton" class="btn btn-outline-light">Save Data</button>
            <div id="processingMessage" style="display: none;">Your plot is being rendered. Please wait<span id="dots"></span></div>
            <a id="downloadLink" href="temp.csv" download="data.csv" style="display: none;">Download temp.csv (hidden link)</a>
        </div>
    </div>

</form>

<script>
    
</script>

<script>
    document.getElementById('saveButton').addEventListener('click', () => {
      const downloadLink = document.getElementById('downloadLink');
      downloadLink.click();
    });
  </script>
  
<% } else { %>
    <p>Not able to compute results! Please try again</p>
    <% }%>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('plotButton').addEventListener('click', function(event) {
            document.getElementById('processingMessage').style.display = 'block';
                countdownDots();
            });
        });

        function countdownDots() {
            let dots = 0;
            const maxDots = 5;
            const interval = setInterval(function() {
                dots++;
                if (dots > maxDots) {
                    dots = 0;
                }
                document.getElementById('dots').textContent = '.'.repeat(dots);

                if (outputIsLoaded) { 
                    clearInterval(interval);
                    document.getElementById('processingMessage').style.display = 'none';
                }
            }, 500);
        }
</script>
