<%- layout('./layouts/boilerplate') %>

<h3>Results</h3>
<% if (output) { %>
    <div >
        <pre id="dataDisplay" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 16px;"><%= output %></pre>
        <div style="display: flex; gap: 5px;">
            <button id="plotButton" class="btn btn-outline-light">plot</button>
            <button id="saveButton" class="btn btn-outline-light">Save Data</button>
        </div>
    </div>
    <script>
        // Function to send request to trigger plot
        function triggerPythonFunction() {
            fetch('http://localhost:3000/dummy')
                .then(response => response.text())
                .then(message => {
                    console.log(message);
                    // Display a message or perform other actions if needed
                })
                .catch(error => console.error('Error:', error));
        }

        // Add click event listener to the button
        document.getElementById('plotButton').addEventListener('click', function() {
            triggerPythonFunction();
        });
    </script>

    <script>
        document.getElementById('saveButton').addEventListener('click', () => {
          const dataToSave = document.getElementById('dataDisplay').textContent.trim();
          downloadData(dataToSave);
        });
    
        function downloadData(data) {
          const blob = new Blob([data], { type: 'text/plain' });
          const url = URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = 'savedData.txt';
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
          URL.revokeObjectURL(url);
        }
      </script>
<% } else { %>
    <p>Not able to compute results! Please try again</p>
    <% }%>


