<%- layout('./layouts/boilerplate') %>

<h3>Results</h3>
<% if (output) { %>
    <div >
        <pre id="dataDisplay" style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 16px;"><%= output %></pre>
        <div style="display: flex; gap: 5px;">
            <button id="plotButton" class="btn btn-outline-light">plot</button>
            <button id="saveButton" class="btn btn-outline-light">Save Data</button>
            <div id="processingMessage" style="display: none;">Your plot is being rendered. Please wait<span id="dots"></span></div>
            <a id="downloadLink" href="temp.csv" download="data.csv" style="display: none;">Download temp.csv (hidden link)</a>
        </div>
    </div>
    <script>
        // Function to send request to trigger plot
        function triggerPythonFunction() {
            fetch('http://localhost:3000/dummy')
                .then(response => response.text())
                .then(message => {
                    console.log(message);
                    // Display a message or perform other actions if needed
                })
                .catch(error => console.error('Error:', error));
        }

        // Add click event listener to the button
        document.getElementById('plotButton').addEventListener('click', function() {
            triggerPythonFunction();
        });
    </script>

<script>
    document.getElementById('saveButton').addEventListener('click', () => {
      const downloadLink = document.getElementById('downloadLink');
      downloadLink.click();
    });
  </script>
  
<% } else { %>
    <p>Not able to compute results! Please try again</p>
    <% }%>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('plotButton').addEventListener('click', function(event) {
            document.getElementById('processingMessage').style.display = 'block';
                countdownDots();
            });
        });

        function countdownDots() {
            let dots = 0;
            const maxDots = 5;
            const interval = setInterval(function() {
                dots++;
                if (dots > maxDots) {
                    dots = 0;
                }
                document.getElementById('dots').textContent = '.'.repeat(dots);

                if (outputIsLoaded) { 
                    clearInterval(interval);
                    document.getElementById('processingMessage').style.display = 'none';
                }
            }, 500);
        }
</script>
