.startpage{
    padding: 1.5%;
}

.startpageelements{
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    gap: 10px;
}

/* problemType */

.typePage{
    padding: 1.5%;
}

.typeelements{
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    gap: 10px;
}

/* isohomogen */
/* keeping the styles separately for now. We can combine them once we are clear about inputs for each problem */

.input-hom{
    margin: 1.5%;
}

.input-abc{
    display: flex;
    justify-content:space-evenly;
}

.input-eps{
    margin-top: 1%;
    display: flex;
    justify-content:space-evenly;
}

.input-EnuMu{
    margin-top: 1%;
    display: flex;
    justify-content:space-evenly;
}

