<%- layout('./InputPages/inputTemplate') %>

<h3>Isotropic Homogenous</h3>

<div style="margin: 1.5%;">
    
    <p>Add the material dimensions</p>
    <form action="\isohomoinput"  method="POST" id="isohomo">
    <div class="input-hom">
        <div class="input-group">
            <span class="input-group-text" id="a">a</span>
            <input class="form-control" type="number" step="any" id="a" name="a" required>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="b">b</span>
            <input class="form-control" type="number" step="any" id="b" name="b" required>
        </div>
        
        <div class="input-group">
            <span class="input-group-text" id="c">c</span>
            <input class="form-control" type="number" step="any" id="c" name="c" required>
        </div>
    </div>

    <p>Add the stress tensor</p>
    <div class="input-hom">
        <div class="input-group">
            <span class="input-group-text" id="eps11">eps11</span>
            <input type="number" class="form-control" id="eps11" name="eps11" aria-describedby="basic-addon3 basic-addon4" required min="0" max="0.01" step="any">
        </div>

        <div class="input-group">
            <span class="input-group-text"  id="eps22">eps22</span>
            <input type="number" class="form-control" id="eps22" name="eps22" aria-describedby="basic-addon3 basic-addon4" required min="0" max="0.01" step="any">
        </div>
        
        <div class="input-group">
            <span class="input-group-text" id="eps33">eps33</span>
            <input type="number" class="form-control" id="eps33" name="eps33" aria-describedby="basic-addon3 basic-addon4" required min="0" max="0.01" step="any">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="eps13">eps13</span>
            <input type="number" class="form-control" id="eps13" name="eps13" aria-describedby="basic-addon3 basic-addon4" required min="0" max="0.01" step="any">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="eps23" >eps23</span>
            <input type="number" class="form-control" id="eps23" name ="eps23" aria-describedby="basic-addon3 basic-addon4" required min="0" max="0.01" step="any"> 
        </div>

        <div class="input-group">
            <span class="input-group-text" id="eps12" >eps12</span>
            <input type="number" class="form-control" id="eps12" name="eps12" aria-describedby="basic-addon3 basic-addon4" required min="0" max="0.01" step="any">
        </div>
    </div>
    <p>Add the material constants</p>
    <div class="input-hom">
        <div class="input-group">
            <span class="input-group-text"  id="E">E</span>
            <input type="number" class="form-control" id="E" name="ep" aria-describedby="basic-addon3 basic-addon4" required min="100" max="500" step="any">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="nu">nu</span>
            <input type="number" class="form-control" id="nu" name="nu" step="any" aria-describedby="basic-addon3 basic-addon4" required min="-0.5" max="0.5" oninput="setCustomValidity('')" onchange="validateNu(this)">
        </div>
        <!-- <div class="input-group">
            <span class="input-group-text" id="mu">mu</span>
            <input type="text" class="form-control" id="mu" name="mu" aria-describedby="basic-addon3 basic-addon4" required>
        </div> -->
    </div>

    <button class="btn btn-success" type="submit">Solve</button>

</form>
</div>
  