<%- layout('./layouts/boilerplate') %>

<div class="startpage">

    <h1>Eshelby's Solution</h1>

    <p>
        The Eshelby problem, named after John D. Eshelby, is a fundamental problem in the field of solid mechanics, specifically in the area of elasticity. It deals with the determination of the stress and strain fields inside an inclusion or defect (such as a void or an inclusion of a different material) embedded within an infinite elastic medium.
    </p>
    
    <p>
        The Eshelby problem is significant because it provides insights into how stresses and strains are distributed around inclusions or defects, which is crucial for understanding the mechanical behavior of composite materials, heterogeneous structures, and materials with defects.
    </p>

    <p>
        The problem typically involves finding the elastic fields (such as displacement, stress, and strain) caused by an inclusion or defect when the surrounding material is subjected to external loading conditions. These fields are often expressed in terms of Eshelby tensors, which describe how the inclusion affects the surrounding medium.
    </p>

    <p>
        The problem is solved for 4 categories
    </p>

    <ul>
        <li>
            <Strong>Isotropic Homogenous</Strong>: Uniform material properties in all directions simplify the Eshelby problem, allowing for analytical solutions for simple inclusion shapes.
        </li>

        <li>
            <Strong>Isotropic Hetergenous</Strong>: Spatial variations in material properties complicate the Eshelby problem, often requiring numerical methods like FEA for accurate solutions.
        </li>

        <li>
            <Strong>Anisotropic Homogenous</Strong>: Direction-dependent material properties add complexity, necessitating specialized mathematical formulations to solve the Eshelby problem
        </li>

        <li>
            <Strong>Anisotropic Hetergenous</Strong>: Combining directional variations with spatial heterogeneity, this scenario is highly complex, often demanding advanced numerical simulations for accurate predictions in the Eshelby problem.
        </li>
    </ul>
</div>