<%- layout('./layouts/boilerplate')%>

<h2>Guide to Eshelby Solution Solver: Learn to use our software</h2>

<div>
    <br>

    <p>After you have selected the type of your problem, you can input the values of your material.
        Sometimes, it might be challenging to understand what each term means in our interface, hence this guide will brief you, so that you dont have to face any problems! </p>
    
    <h5>Choosing the right type problem</h5>
    <p>Currently we suppport Isotropic Homogenous and Isotropic InHomogenous type of materials. We plan to add others in the feature</p>

    <h5>Material Dimensions</h5>
    <p>a,b,c are the material dimensions, and the units for them can be choosen as required</p>

    <h5>Stress Tensor</h5>
    <p>The various stress tensors can be added, where epsij refers to the stress in the direction ij</p>

    <h5>Material constants</h5>
    <p>The Young's modulous and nu can be added and their units can be chosen as required.</p>
    
    <h5>Adding the points</h5>
    <p>You can as many points as required, to get the stress values at those points</p>

    <h5>Saving and plotting of the data</h5>
    <p>We also have the features to save and plot the data for the points</p>
</div>