<%- layout('./layouts/boilerplate')%>

<h2>Guide to Eshelby Solution Solver: Learn to use our software</h2>

<div>
    <br>

    <p>After you have selected the type of your problem, you can input the values of your material.
        Sometimes, it might be challenging to understand what each term means in our interface, hence this guide will brief you, so that you dont have to face any problems! </p>
    
    <h5>Choosing the right type problem</h5>
    <p>Currently we suppport Isotropic Homogenous and Isotropic InHomogenous type of materials. We plan to add others in the feature</p>

    <h5>Material Dimensions</h5>
    <p>a,b,c are the material dimensions, and the units for them can be choosen as required</p>

    <h5>Stress Tensor</h5>
    <p>The various stress tensors can be added, where epsij refers to the stress in the direction ij</p>

    <h5>Material constants</h5>
    <p>The Young's modulous and nu can be added and their units can be chosen as required.</p>
    
    <h5>Adding the points</h5>
    <p>You can as many points as required, to get the stress values at those points</p>

    <h5>Saving and plotting of the data</h5>
    <p>We also have the features to save and plot the data for the points</p>

    <h5>Customization in the plot</h5>
    <H3>How to visualize stress for given input parameters?</H3>
    <ol>
        <li><b>Step 1: </b>Enter the parameters on the screen which appears as below and click solve. </li>
        <img src="/images/input window.png" alt="input image image" style="width: 50vw;">
        <li><b>Step 2: </b>Select the Stress component which you want to plot from dropdown menu and click plot</li>
        <img src="/images/result window.png" alt="result page image" style="width: 50vw;">
        <li><b>Step 3: </b>Wait for the plot to load till a new window launches. Once the plot is loaded, it will appear with 3d heatmap visualiation as well as an image plane which can be used to cut through the 3d plot.</li>
        <img src="/images/mayavi window.png" alt="mayavi plot window" style="width: 50vw;">
        <li><b>Step 4: </b>Click on top right icon to see the different available features to interact with the plot</li>
        <img src="/images/show hide.png" alt="showhide" style="width: 50vw;">
        <li><b>Step 5: </b>If you want to visualize only plane on 3d view, right click on the other component to hide it.</li>
    </ol>
    
</div>