<%- layout('./layouts/boilerplate')%>

<h2>Guide to Eshelby Solution Solver: Learn to use our software</h2>

<div>
    <br>
    <h3>Input of the values</h3>
    <p>After you have selected the type of your problem, you can input the values of your material.
        Sometimes, it might be challenging to understand what each term means in our interface, hence this guide will brief you, so that you dont have to face any problems! </p>
    <h5>Constraints on the input</h5>
    <ul>
        <li><strong>Material Dimensions</strong>: </li>

        <li><strong>Stress tensors</strong>: </li>

        <li><strong>Material constants</strong>: </li>
    </ul>
</div>